@model IEnumerable<Assig1.ViewModels.CountryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Country Name
            </th>
            <th>
               Images
            </th>
            <th>
                Region Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var country in Model) {
        <tr>
            <td>
               @country.CountryName
            </td>
            <td>
               @country.ImageUrl
            </td>
            <td>
               @country.RegionName 
            </td>
            <td>
                 
            </td>
        </tr>
}
    </tbody>
</table>


<a href="@Url.Action("Index", "Regions")" class="btn btn-primary">Back to Regions List</a>

